<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROJECT TEMPLATE</title>
  </head>
  <div>
    <main><%- body %></main>
  </div>
</html>
